#game-field {
    display: inline;
}

#game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    gap: 10px;
}

#game h1 {
    text-align: center;
}

#game-controls {
    display: flex;
    justify-content: center;
}

#restart {
    width: 40px;
    height: 40px;

}

#game-field>div {
    display: inline-block;
    border: 1px solid lightsalmon;
    width: 40px;
    height: 40px;
    text-align: center;
}

#game-field>div[data-is-visible="false"] {
    background-color: whitesmoke;
}

#game-field>div[data-is-mine="true"][data-is-visible="true"] {
    background-color: red;
    vertical-align: bottom;
}

#game-field>div[data-is-visible="false"][data-is-marked="true"] {
    background-color: pink;
}
